@model Client.Models.CustomerViewModel

<a href="/Customers">Back to customer list</a>
<h1>Customer Profile</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(m => m.Name)</h5>
        <p>@Html.DisplayFor(m => m.Address1)</p>
        <p>@Html.DisplayFor(m => m.Address2)</p>
        <p>@Html.DisplayFor(m => m.City)</p>
    </div>
</div>

<h2>Orders</h2>
<div class="accordion" id="customer-orders">
    @foreach(var order in Model.Orders)
    {
            string status;
            switch(order.Status)
            {
                case 0:
                    status = "Pending";
                    break;
                case 1:
                    status = "Shipped";
                    break;
                case 2:
                    status = "Fulfilled";
                    break;
                case 3:
                    status = "Cancelled";
                    break;
                default:
                    status = "Error";
                    break;
        }
        <div class="accordion-item" data-id="@order.Id">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#order-@order.Id" aria-expanded="false" aria-controls="order-@order.Id">
                    Order Date: @Html.DisplayFor(item => order.OrderDate)
                </button>
            </h2>
            <div id="order-@order.Id" class="accordion-collapse collapse" data-bs-parent="#customer-orders">
                <div class="accordion-body">
                    <p>Order status: @status</p>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>    
    }
    
</div>
